<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
</head>
<body>
    <header>
        <h1>About Us</h1>
       
    </header>

    <main>
        <section>
          <!-- 03 page start -->
          <div id="page">
              <div id="about" class="pageControl"></div>
              <div class="experince-container-fluid">
                  <div class="container">
                      <div class="section-box-container">
                          <div class="experince-header"><span class="experince-header-set">About me</span></div>
                          <div class="about-container">
                              <div class="about-me-section">
                                  <div class="about-text">

                                      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                      Ut, odit voluptatem fugiat voluptas dolores eveniet voluptatibus perferendis
                                      quasi asperiores voluptatum ducimus tenetur nam sint quos?.about-textut vero
                                      recusandae quidem culpa facilis architecto consequuntur perferendis harum modi, similique iure nobis maxime ipsam
                                      temporibus nostrum adipisci! Vel sapiente perspiciatis ipsa distinctio.
                                  </div>
                                  <div class="about-text">
                                      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                      Ut, odit voluptatem fugiat voluptas dolores eveniet voluptatibus perferendis
                                      quasi asperiores voluptatum ducimus tenetur nam sint quos?
                                  </div>
                                  <div class="about-text">
                                      voluptatibus perferendis
                                      quasi asperiores voluptatum ducimus tenetur nam sint quos?
                                      <div style="color:#bfc0c4 ;" class="about-text">
                                          Social
                                      </div>
                                  </div>
                                  <div class="skills-bar-about">

                                          <a class="social-links"><i class="margin fa-brands fa-github"></i></a>
                                          <a class="social-links"><i class="fa-brands fa-linkedin-in"></i></a>
                                          <a class="social-links"><i class="insta fa-brands fa-instagram"></i></a>
                                          <a class="social-links" href="https://open.spotify.com/user/21xbxidz623as32iw4r3u3uiq" target="_blank"><i class="fa-brands fa-spotify"></i></a>
                                          <a class="social-links"><i class="fa-brands fa-codepen"></i></a>

                                  </div>
                                  <div style="color:#bfc0c4 ;" class="about-text">
                                      My interests
                                  </div>
                                  <div class="skills-bar-about">
                                      <i class="fa-brands fa-html5" title="HTML"></i>
                                      <i class="fa-brands fa-css3-alt" title="CSS"></i>
                                      <i class="fa-brands fa-bootstrap" title="Bootstrap"></i>
                                      <i class="fa-brands fa-sass" title="Sass"></i>
                                      <i class="fa-brands fa-js" title="JavaScript"></i>
                                      <i class="fa-brands fa-react" title="React"></i>
                                  </div>
                              </div>
                              <div class="img-section">
                                <img src="https://avatars.githubusercontent.com/u/77773407?v=4">
                              </div>
                          </div>                      
                      </div>

                  </div>
                  <div class="comment-section-container">
                  <div class="comment-section">
                      <div class="swiper-container swiper2">
                          <div class="swiper-wrapper">
                              <div class="swiper-slide coverflow">
                                  <div class="comment-slider-container">
                                      <div class="c-slider-img-container">
                                          <div class="comment-slider-img">
                                                  <!-- img sesafsd -->
                                          </div>
                                      </div>
                                      <div class="comment-slider-com">
                                          <div class="slider-comments">
                                              <div class="comm-header">Co-Founder</div>
                                              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro aliquid asperiores quis
                                              minus! Eveniet, perspiciatis.
                                          </div>
                                          <div class="slider-com-artic">
                                              Ugur Yildiz
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="swiper-slide coverflow">
                                  <div class="comment-slider-container">
                                      <div class="c-slider-img-container">
                                          <div class="comment-slider-img">

                                          </div>
                                      </div>
                                      <div class="comment-slider-com">
                                          <div class="slider-comments">
                                              <div class="comm-header">Co-Founder</div>
                                              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro aliquid asperiores quis
                                              minus! Eveniet, perspiciatis.
                                          </div>
                                          <div class="slider-com-artic">
                                              Ugur Yildiz
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="swiper-slide coverflow">
                                  <div class="comment-slider-container">
                                      <div class="c-slider-img-container">
                                          <div class="comment-slider-img">
                                              <!-- img sesafsd -->
                                          </div>
                                      </div>
                                      <div class="comment-slider-com">
                                          <div class="slider-comments">
                                              <div class="comm-header">Co-Founder</div>
                                              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro aliquid asperiores quis
                                              minus! Eveniet, perspiciatis.
                                          </div>
                                          <div class="slider-com-artic">
                                              Ugur Yildiz
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="swiper-slide coverflow">
                                  <div class="comment-slider-container">
                                      <div class="c-slider-img-container">
                                          <div class="comment-slider-img">
                                              <!-- img sesafsd -->
                                          </div>
                                      </div>
                                      <div class="comment-slider-com">
                                          <div class="slider-comments">
                                              <div class="comm-header">Co-Founder</div>
                                              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro aliquid asperiores quis
                                              minus! Eveniet, perspiciatis.
                                          </div>
                                          <div class="slider-com-artic">
                                              Ugur Yildiz
                                          </div>
                                      </div>
                                  </div>
                              </div>
                        </div>
                          <!-- Add Pagination -->
                          <div class="swiper-pagination swiper-pagination1"></div>
                      </div>
                  </div>
                  </div>
              </div>
          </div>
        </section>
        <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
        <script>

          var swiper2 = new Swiper('.swiper2', {
          effect:"coverflow",
                  direction: 'horizontal',
                  loop: true,
                  autoplay: {               
                  disableOnInteraction: false,
                  pauseOnMouseEnter: true,             
                  },
                  pagination: {
                  el: ".swiper-pagination1",
                  clickable:true,
                  },
                  coverflowEffect:{
                      slideShadows: false,
                      rotate:20,
                      scale:0.70,
                  }

          });   


        </script>
        <section>
            <h2>Our Products</h2>
            <p>Here are some of the laptops we offer:</p>
            <div class="product-gallery">
                <img src="{{ url_for('static', filename='laptop1.jpg') }}" alt="Laptop 1">
                <img src="{{ url_for('static', filename='laptop2.jpg') }}" alt="Laptop 2">
                <img src="{{ url_for('static', filename='laptop3.jpg') }}" alt="Laptop 3">
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2020-2024 IT MONKS SOLUTIONS. All rights reserved.</p>
      <ul>
          
          <li><a href="/contact">something like 
 location</a></li>
      </ul>
      <div>
          <p> <b>Address:</b> 4th Floor Bizness square, opposite Meydan expo center, 16 Hitech City Rd, Hyderabad, Telangana 500081</p>
          <p><a href="/privacy">Privacy Policy</a> | <a href="/terms">Terms and Conditions</a></p>
      </div>
    </footer>
</body>
</html>
