<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> IT MONKS SOLUTIONS </title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>           
        
        <nav>
            <ul>
                <li><a href="https://itmonkssolutions.com/">Homee</a></li>
              <li><a href="{{ url_for('about') }}">About Us</a></li>

                <li><a href="#">Products</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="about">
            <h4>ENGAGE WITH THE EMERGING
            AND
            TRANSFORM AT THE INTERSECT
</h4>
            <p> Info if needed </p>
        </section>
      <img src="static/header.png" alt="header" width="100%" height="100%">

        <div class="container">
            <div class="row">
                <div class="column">
                    <h3>Project Management</h3>
                    <p>IT Monks excels in proficient project management, ensuring streamlined execution and successful delivery of projects.</p>
                </div>
                <div class="column">
                    <h3>App Development</h3>
                    <p>Developing innovative and user-friendly mobile applications that cater to diverse business requirements.</p>
                </div>
                <div class="column">
                    <h3>IT Software Development</h3>
                    <p>Crafting robust and scalable software solutions tailored to meet the unique needs of our clients.</p>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <h3>Website Design and Development</h3>
                    <p>Creating visually stunning and functionally efficient websites that leave a lasting impression.</p>
                </div>
                <div class="column">
                    <h3>Marketing Services</h3>
                    <p>Implementing strategic and result-driven marketing services to boost brand awareness and customer engagement.</p>
                </div>
                <div class="column">
                    <h3>HR Payroll Management and HR Services</h3>
                    <p>Streamlining human resource processes with efficient payroll management and comprehensive HR services.</p>
                </div>
            </div>
        </div>

    </main>

  <footer>
    <p>&copy; 2020-2024 IT MONKS SOLUTIONS. All rights reserved.</p>
  <ul>

      <li><a href="/contact">something like 
  location</a></li>
  </ul>
  <div>
      <p> <b>Address:</b> 4th Floor Bizness square, opposite Meydan expo center, 16 Hitech City Rd, Hyderabad, Telangana 500081</p>
      <p><a href="/privacy">Privacy Policy</a> | <a href="/terms">Terms and Conditions</a></p>
  </div>
  </footer>
</body>
</html>
