<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT MONKS SOLUTIONS</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>



    <main>
        <div class="main-container">
            <div class="blur-circle1">

            </div>
            <div class="blur-circle2">

            </div>
              <!-- Start Landing Page -->
          <div class="landing-page">
            <header>
              <div class="container">
                <a href="#" class="logo"><b>It Monks Solutions</b></a>
                <ul class="links">
                  <li>Home</li>
                  <li><a href="{{ url_for('about') }}">About Us</a></li>
                  <li>Work</li>
                  <li>Info</li>
                  <li> <a href="{{ url_for('jobs') }}">Careers</a></li>
                </ul>
              </div>
            </header>
            <div class="content">
              <div class="container">
                <div class="info">
                  <h1>IT MONKS SOLUTIONS</h1>
                  <p>IT Monks Solutions Pvt Ltd is a dynamic player in the Information Technology Development and Services industry, committed to driving innovation and delivering cutting-edge solutions.</p>
                  <button>Join Us</button>
                </div>
                <div class="image">
                  <img class="main-image" src="https://cdni.iconscout.com/illustration/premium/thumb/businessman-working-using-vr-tech-3840669-3202986.png?f=webp">
                </div>
              </div>
            </div>
          </div>
          <!-- End Landing Page -->
        </div>


        <div class="container">
            <div class="row">
                <div class="column">
                    <h3>Project Management</h3>
                    <p>IT Monks excels in proficient project management, ensuring streamlined execution and successful delivery of projects.</p>

    {% include 'jobs.html'%} 
                  <div id="counter" class="animated">
                    <p> Projects </p>

                      <ul class="digits digits-third luckie"> <li> 0 <li> 1 <li> 2 <li> 3 <li> 4 <li> 5 <li> 6 <li> 7 <li> 8 <li> 9 </ul>
                  </div> 
                </div>
                <div class="column">
                    <h3>App Development</h3>
                    <p>Developing innovative and user-friendly mobile applications that cater to diverse business requirements.</p>
                </div>
                <div class="column">
                    <h3>IT Software Development</h3>
                    <p>Crafting robust and scalable software solutions tailored to meet the unique needs of our clients.</p>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <h3>Website Design and Development</h3>
                    <p>Creating visually stunning and functionally efficient websites that leave a lasting impression.</p>
                </div>
                <div class="column">
                    <h3>Marketing Services</h3>
                    <p>Implementing strategic and result-driven marketing services to boost brand awareness and customer engagement.</p>
                </div>
                <div class="column">
                    <h3>HR Payroll Management and HR Services</h3>
                    <p>Streamlining human resource processes with efficient payroll management and comprehensive HR services.</p>
                </div>
            </div>
        </div>

    </main>

    <footer>
        <p>&copy; 2020-2024 IT MONKS SOLUTIONS. All rights reserved.</p>
        <ul>
            <li><a href="/contact">Something like Location</a></li>
        </ul>
        <div>
            <p><b>Address:</b> 4th Floor Bizness square, opposite Meydan expo center, 16 Hitech City Rd, Hyderabad, Telangana 500081</p>
            <p><a href="/privacy">Privacy Policy</a> | <a href="/terms">Terms and Conditions</a></p>
        </div>
    </footer>
</body>
</html>
